header {
    text-align: center;
    font-size: 25px;
}
body {
    color:white;
    background:black;
}

h3 {
    font-family: 'Cabin', sans-serif;
    margin-top:130px;
    text-align: center;
    color: white;
  /* text-shadow: 2px 2px 2px white; */
}

.circle {
    border-radius: 50%;
    
}

#circle1 {
    height: 125px;
    width: 125px;
    background: red;
    margin-top: 200px;
    animation-name: redpaintball;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes redpaintball {
    to {
        left: 0%;
    }
    from {
        left: 100%;
    }
}
